<!doctype html>
<html>
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        {% if page.layout == 'post' %} 
        {% assign canonical_url_is_not_empty = page.canonical_url | is_not_empty %}
        {% if canonical_url_is_not_empty %}
        <link rel="canonical" href="{{ page.canonical_url }}"/>
        {% endif %}
        {% endif %}
         
        <!-- Timeline CSS Link-->

        <link rel="stylesheet" href="hovercss/timelinestyle.css">

        <!-- Bootstrap Link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Adding Pageclip Forms -->

        <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
        
    <!-- Hover CSS here -->
    <link rel="stylesheet" href="hovercss/bootstrap.min.css">
    <link rel="stylesheet" href="hovercss/owl.carousel.min.css">
    <link rel="stylesheet" href="hovercss/magnific-popup.css">
    <link rel="stylesheet" href="hovercss/font-awesome.min.css">
    <link rel="stylesheet" href="hovercss/themify-icons.css">
    <link rel="stylesheet" href="hovercss/nice-select.css">
    <link rel="stylesheet" href="hovercss/flaticon.css">
    <link rel="stylesheet" href="hovercss/gijgo.css">
    <link rel="stylesheet" href="hovercss/animate.min.css">
    <link rel="stylesheet" href="hovercss/slick.css">
    <link rel="stylesheet" href="hovercss/slicknav.css">
    <link rel="stylesheet" href="hovercss/style.css">
        
    </head>
    <body>
        <!-- Adding Pageclip Forms -->

        <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
    </body> 
</html>
