---
layout: body
---

{% for section in page.sections %}
  
  {% include {{ section.component }} section=section site=site %}
{% endfor %}


  
  
  <!-- Adding Timeline to homepage -->
  <ul class="timeline">


 <!-- Item 5 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">BE, MIT, Pune</span>
				<span class="time-wrapper"><span class="time">2017-2018</span></span>
			</div>
			<div class="desc">With continued interest in web development, I launched infobird.in for helping students with their academics by providing educational material like code snippets in c++, java, python </div>
		</div>
	</li>


 <!-- Item 4 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">TE, MIT, Pune</span>
				<span class="time-wrapper"><span class="time">2016-2017</span></span>
			</div>
			<div class="desc">With continued interest in web development, I launched infobird.in for helping students with their academics by providing educational material like code snippets in c++, java, python </div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">SE, MIT, Pune</span>
				<span class="time-wrapper"><span class="time">2015-2016</span></span>
			</div>
			<div class="desc">Got busy with academics and invested time in understanding data structures and algorithms </div>
		</div>
	</li>
	
<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">FE, MIT, Pune</span>
				<span class="time-wrapper"><span class="time">2014-2015</span></span>
			</div>
			<div class="desc">With continued interest in web development, I launched infobird.in for helping students with their academics by providing educational material like code snippets in c++, java, python </div>
		</div>
	</li>
	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Completed HSC (12th)</span>
				<span class="time-wrapper"><span class="time">2014</span></span>
			</div>
			<div class="desc">Designed and Created website in HTML and CSS, my first ever interaction with computer programming</div>
		</div>
	</li>
  
	

 
</ul>
