---
layout: body
---

{% for section in page.sections %}

  {% include {{ section.component }} section=section site=site %}
{% endfor %}




  <!-- Adding Timeline to homepage -->



<div class="jumbotron">
  <h1 class="display-4">Hi, I am Rohit</h1>
      <p class="lead">Let me take you through my tech journey</p>

    <!--   <a class="btn btn-primary btn-lg" href="#timelinee" role="button">Timeline</a> -->



      <!--  <a class="btn btn-primary btn-lg" onclick=" window.open('resume.pdf', '_blank'); return false;" role="button">Resume</a> -->
	<!-- Resume Button -->
      <!--  <a class="btn btn-success btn-lg" href="https://rohitgund.com/resume.pdf" target="_blank" role="button" >Resume</a> -->
        <a class="btn btn-primary btn-lg" href="https://github.com/iamrohitgund" target="_blank" role="button" >GitHub</a>
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/iamrohitgund/" target="_blank" role="button">LinkedIn</a>
</div>


<div class="container" id="summary">



      	<h2 style="color:#0275d8;">Summary</h2>
      	<hr class="my-4">

      	<h5>Innovative young professional with a sharp technical acumen, passion for software engineering, solid educational background, and over one year of hands-on development experience, poised to leverage keen Python programming skills within an Agile environment</h5>
	<h6>I have worked on numerous projects during my master's in Computer Science like Machine Learning, Data Science, and Software Development. But, I genuinely enjoy working on software development and full-stack (front-end, back-end) projects. Currently, I am looking for full-time job opportunities in Software Development and want to grow my career as a Software Engineer. </h6>
	<h6>I am currently deploying Django, React and Flask based web application work samples.</h6>
 	<hr class="my-4">


</div>

<div class="container">
  
  

      	<h2 style="color:#0275d8;">Skills</h2>
      	<hr class="my-4">

      	
 		<table class="table">
  <thead>
   
  </thead>
  <tbody>
  	 <tr class="table-primary">
      <th scope="row">Programming Language:</th>
      <th scope="row">Python, Javascript, Java, HTML, CSS, C++(Basic)</th>
    
    </tr>
    <tr class="table-success">
      <th scope="row">Frameworks:</th>
      <td>Django, React, Flask BootStrap, node.js, Wordpress</td>
    
    </tr>
    <tr class="table-warning">
      <th scope="row">Data Science:</th>
      <td> NumPy, Pandas, Seaborn, Matplotlib, Plotly, Scikit-learn</td>
     
    </tr>
    <tr class="table-info">
      <th scope="row">Databases:</th>
      <td colspan="2">SQL, PostgreSQL, MySQL, MongoDB</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Tools:</th>
      <td colspan="2">Git, GitHub, AWS, Distributed Systems, Kubernetes, Docker, REST API, GraphQL, NGINX, Linux</td>
    </tr>
  </tbody>
</table>
 		
      

</div>
<!--
   <div class="container" id="skills" >
  <div class="row">
    <div class="col-12 col-sm-6" >
            <center><img src="images/2.svg" alt="Software Developer" style="width:400px;height:500px;"></center>

	  </div>
    <div class="col-12 col-sm-6">

      	 <h2 style="color:#0275d8;">Skills</h2>
    <hr class="my-4">

      	      	<h5>

                  • <strong style="color:#d9534f;" > Programming Languages:</strong> Python, Java, JavaScript, HTML, CSS, C++ (Basic)<br>
                  • <strong style="color:#d9534f;">Data Science:</strong> NumPy, Pandas, Seaborn, Matplotlib, Plotly, Scikit-learn<br>
                  • <strong style="color:#d9534f;">Frameworks:</strong> Flask, Django, BootStrap, React, WordPress, node.js<br>
                  • <strong style="color:#d9534f;">Operating Systems:</strong> MacOS, Linux, Windows<br>
                  • <strong style="color:#d9534f;">Databases:</strong>  SQL, PostgreSQL, MySQL, MongoDB, NoSQL<br>
                  • <strong style="color:#d9534f;">Version Control:</strong> Git, GitHub<br>
                  • <strong style="color:#d9534f;">Cloud:</strong> AWS, OpenNebula<br>
                  • <strong style="color:#d9534f;">Tools:</strong> Jupyter Notebooks, Atom, Sublime Text, Pycharm<br>
                  • <strong style="color:#d9534f;">Other:</strong> Machine Learning, Microservice Architecture, Data Structures, Algorithm, Object-Oriented Programming, SDLC, Distributed Systems, Kubernetes, Docker, REST API, GraphQL, NGINX<br>

        </h5>
    <hr class="my-4">

      </center>
    </div>
  </div>
</div>
-->



<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">


      	 <h2 style="color:#0275d8;">About Me</h2>
    <hr class="my-4">

      	  <h5>I'm a hands-on technical leader who has built software products from the ground up, run large engineering teams. I'm motivated by product success and business growth. I'm always interested in becoming a better technology leader, and meeting interesting people around the world</h5>
    <hr class="my-4">

         </div>
    <div class="col-12 col-sm-6">
      <center><img src="images/1.svg" alt="Software Developer" style="width:400px;height:300px;"></center>

    </div>
  </div>
</div>

<div class="container">

  

      	<h2 style="color:#0275d8;">My Story</h2>
      	<hr class="my-4">

      	<h5>Ever since I was a little kid, problem-solving has been my passion. I recall being in front of the very basic intel dual-core PC, with a box like giant monitor, making it print “ Hello, World” for the very first time on Turbo C. As I went through few coding books, it was out of the world experience to make the computer do whatever I imagined. <br><br>

The internet was evolving, and everyone wanted a web presence, and so do I. It led me to start experimenting with HTML and CSS. This resulted in building creative web pages to convey meaningful information. Growing internet use demands data-intensive applications and very reliable system designs. I quickly adapted myself to these changes and shifted my learning curve towards the JAVA and Python. This passion carried me through my own startup named infobird.in, I helped small scale emerging businesses with their software needs. Here, I had an exposure to learn and discover new technologies and tools. I learned new languages, algorithms, tools, all with pretty much the same fascination that drove me a kid. And it was here that I knew I could add a lot more value to everyone’s life by just sitting in front of a computer. <br><br>

Indeed, this passion will remain forever, and there is still much to be discovered and yet more problems to be solved.</h5>


      <button onclick="window.location.href='https://rohitgund.com/projects/'" class="block">Projects</button>

</div>

<div id="timelinee">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>



    <hr class="my-4">


  <center>  <h2>Timeline of my career</h2></center>
    <hr class="my-4">

<!-- The Timeline -->

<ul class="timeline">


	  <!-- Item 5 -->
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">May 2021 To Today</span>
                </div>
                <div class="desc"><h3>Software Engineer</h3>Looking for full-time Software Engineer roles in the United States</div>
              </div>
            </li>


           <!-- Item 4 -->
            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">August 2019 - May 2021</span>
                </div>
                <div class="desc"><h3>California State University, Fullerton</h3>While pursuing my master’s degree in Computer Science, I have refined my knowledge and strengths in Artificial Intelligence, Algorithms and Data Structure, Advanced Database Management, Software Design and Architecture, Systems and Software Standards and Requirements, Modern Software Management, Software Measurement.  </div>
              </div>
            </li>

            <!-- Item 3 -->
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">July 2018 - July 2019</span>
                </div>
                <div class="desc"><h3>infobird.in</h3>Developed full-stack software solutions from scratch for infobird.in</div>
              </div>
            </li>

          <!-- Item 2 -->
            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">August 2014 - June 2018</span>
                </div>
                <div class="desc"><h3>MIT,Pune</h3>Completed Bachelors in Engineering in Computer Engineering (BE CE/CS). With continued interest in web development, I launched website for helping students with their academics by providing educational material like code snippets in c++, java, python </div>
              </div>
            </li>
            <!-- Item 1 -->
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">July 2014</span>
                  <!--  This is short red pan for displaying
                  <span class="time-wrapper"><span class="time">2014</span></span> -->
                </div>
                <div class="desc"><h3>Completed HSC(12th)</h3>Designed and Created websites in HTML and CSS</div>
              </div>
            </li>




    </ul>
  <hr class="my-4">
</div>
